.news-section
    width 100%

.nav-stl
    width 100%
    height 64px
    background lightgray
    display flex
 .nav-menu-btn
    width 64px
    display flex
    justify-content center
    align-items center
    i
        font-size 36px
 .nav-title 
    width 100%
    padding 0 10px
    display flex
    align-items center


 .news-article
    width 100%
    max-width 900px
    margin 10px auto
    background lightblue
    display flex
    flex-direction column
 .news-header
    width 100%
    height 64px
    background lightgreen 
    display flex
.news-header-img
    width 60px
    height 60px
    img 
        width 100%
        border-radius 50%
.news-header-title
    width 100%
    padding 0 10px
    display flex
    align-items center        


.news-body
    width 100%
    display flex
.news-body-img
    width 100%
    max-width 300px    
.news-body-txt
    width 100%
    padding 10px


