@import "constants"

html
    box-sizing border-box
    font-family 'News Cycle', sans-serif
    letter-spacing 1px
    background-color white
  
*, *:before, *:after, img
    box-sizing inherit
    margin 0
    padding 0
    
button:focus
    outline 0  