/* You can add global styles to this file, and also import other style files */
html
    box-sizing border-box
    font-family 'News Cycle', sans-serif
  
*, *:before, *:after
    box-sizing inherit
    margin 0
    padding 0
